parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$player\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/SendEventReminders.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Console/Commands/SendEventReminders.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Admin/EpTransactionTypeController.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasOne\:\:withTrashed\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Admin/MatrixAccountController.php

		-
			message: '#^Using nullsafe property access "\?\-\>mxid" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Admin/MatrixAccountController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Admin/PerlColorController.php

		-
			message: '#^Access to an undefined property App\\Models\\Role\:\:\$permissions\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Admin/RoleController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Admin/SkillController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$booked_by_user_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_guest\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$paid\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$participant_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$player\.$#'
			identifier: property.notFound
			count: 4
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$player_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$role\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$status_label\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$waitlisted\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AdventureController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$player\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AttendanceController.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: app/Http/Controllers/AttendanceController.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: app/Http/Controllers/AttendanceController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$player\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$users\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Parameter \#1 \$booking of class App\\Notifications\\BookingReceived constructor expects App\\Models\\Booking, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Parameter \#1 \$booking of class App\\Notifications\\WaitlistPromoted constructor expects App\\Models\\Booking, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Parameter \#1 \.\.\.\$values of method Illuminate\\Support\\Collection\<int,App\\Models\\User\>\:\:push\(\) expects App\\Models\\User, Illuminate\\Database\\Eloquent\\Model given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Strict comparison using \!\=\= between int\<0, max\> and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Using nullsafe property access "\?\-\>full_name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/BookingController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model&object\{pivot\: Illuminate\\Database\\Eloquent\\Relations\\Pivot\}\:\:\$activeHero\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/DashboardController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$transacted_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/EpTransactionController.php

		-
			message: '#^Method App\\Http\\Controllers\\EpTransactionController\:\:book\(\) should return App\\Models\\EpTransaction but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Http/Controllers/EpTransactionController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HeroController.php

		-
			message: '#^Using nullsafe property access "\?\-\>description" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/HeroController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/HeroSkillController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$address_same_as_guardian\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$age\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$city\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$users\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Strict comparison using \=\=\= between int\<0, max\> and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Using nullsafe property access "\?\-\>full_name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Booking.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_credit\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/EpTransaction.php

		-
			message: '#^Using nullsafe property access "\?\-\>is_credit" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/EpTransaction.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$is_credit\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/Hero.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$perlColor\.$#'
			identifier: property.notFound
			count: 2
			path: app/Models/Hero.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<\(int\|string\),Illuminate\\Database\\Eloquent\\Collection\<int, Illuminate\\Database\\Eloquent\\Model\>\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Models/Hero.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:filter\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model, int\)\: bool\)\|null, Closure\(App\\Models\\EpTransaction\)\: mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Hero.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:reduce\(\) expects callable\(float, Illuminate\\Database\\Eloquent\\Model, int\)\: float, Closure\(float, App\\Models\\EpTransaction\)\: float given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Hero.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:sum\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model\)\: float\)\|string\|null, Closure\(App\\Models\\EpTransaction\)\: float given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Hero.php

		-
			message: '#^Using nullsafe property access "\?\-\>value" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Models/Setting.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Models/User.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/BookingReceived.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/BookingReceived.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Notifications/BookingReceived.php

		-
			message: '#^Using nullsafe property access "\?\-\>description" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Notifications/BookingReceived.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$titel\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/EventReminder.php

		-
			message: '#^Using nullsafe property access "\?\-\>titel" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Notifications/EventReminder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$full_name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Notifications/WaitlistPromoted.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Notifications/WaitlistPromoted.php

		-
			message: '#^Unsafe call to private method App\\Services\\AuditLogger\:\:labelFor\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: app/Services/AuditLogger.php
